{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                },
                "loose": true
            }
        ],
        "@babel/preset-flow",
        "@babel/preset-react"
    ],
    "plugins": [
        "transform-node-env-inline",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        "syntax-exponentiation-operator",
        "@babel/plugin-transform-react-constant-elements",
        "@babel/plugin-transform-react-inline-elements",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        ["@babel/plugin-transform-modules-commonjs", { "loose": true }],
        ["@babel/plugin-transform-runtime", { "corejs": 2, "helpers": false, "regenerator": true }]
    ]
}
