.invisible {
    visibility: hidden;
    position: absolute;
}

.bp3-non-ideal-state-description > .bp3-input-group:not(:last-of-type) {
    margin-bottom: 10px;
}

/*.assets-list.assets-list-grid .grid-row .action-icon {*/
.icon.action-icon {
    cursor: pointer;
    opacity: 1;
}

/*.assets-list.assets-list-grid .grid-row .icon.action-icon:active {*/
.icon.action-icon:active {
    opacity: .8;
}

.icon.edit-icon {
    visibility: hidden;
    pointer-events: none;
    font-size: .625em;
    vertical-align: top;
}

:hover > .icon.edit-icon {
    visibility: visible;
    pointer-events: auto;
}

.filter.side .filter__sub-filter .content {
    overflow-y: auto;
    max-height: 10rem;
}

.label,
.header-label,
.bp3-label,
label.bp3-control,
.bp3-form-helper-text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-label {
    cursor: pointer;
}

.header-label > .header-sort-icon {
    opacity: 0;
}

.header-label:hover > .header-sort-icon,
.header-label.sorted > .header-sort-icon {
    opacity: 1;
}

.pdf-preview {
    width: 80vh;
    height: 80vh;
    max-width: 100%;
    max-height: 100%;
}
