.loader-container {
}

.loader-container

.loader-container.not-loading {
    -webkit-transform: none;
    transform: none;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.08s cubic-bezier(0, 0, 0.3, 0.1);
    transition: opacity 0.08s cubic-bezier(0, 0, 0.3, 0.1);
}

.loader-container.not-loading:after {
    pointer-events: none;
    z-index: -1;
}

.lock-n-loader {
}

.not-loading .lock-n-loader {
    z-index: -1;
}

.loader-container .bigSqr {
}

.loader-container .square {
}

.loader-container .first {
}

.loader-container .second {
}

.loader-container .third {

}

.loader-container .fourth {
}

.loader-container .text {

}

.spinner-icon {
    will-change: transform;
    -webkit-animation: spinner-frames 1s infinite ease-in;
    animation: spinner-frames 1s infinite ease-in;
}


